.searchbar {
    margin-top: 7%;
    font-family: "courier";
}

.search-label {
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 1px 1px gray;
}

.searchbox {
    width: 50%;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}